version: '2'

services:
  dns:
    image: andyshinn/dnsmasq:2.78
    volumes:
      - ./dnsmasq/dnsmasq.conf:/etc/dnsmasq.conf
    cap_add:
      - NET_ADMIN
    ports:
      - 172.17.0.1:53:53/tcp
      - 172.17.0.1:53:53/udp

  nginx:
    image: nginx:1.13
    ports:
      - 80:80
      - 443:443
    working_dir: /var/www
    links:
      - php
    volumes:
      - ${PATH_TO_SITES}:/var/www
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - php
      - dns

  php:
    build:
      ./php
    ports:
      - 9000:9000
    working_dir: /var/www
    volumes:
      - ${PATH_TO_SITES}:/var/www
      - ./php/php.ini:/usr/local/etc/php/php.ini
    depends_on:
      - mysql

  mysql:
    image: mariadb:10.3
    volumes:
      - ${MYSQL_DB_PATH}:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    links:
      - mysql:db
    ports:
      - ${PHP_MY_ADMIN_PORT}:80
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    depends_on:
      - mysql
